// you can change config here
// @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
$theme-color: #10e80c;
$font-family-heading: 'Space Grotesk', sans-serif;