$code-lang: "css" "html" "js" "ts" "vue";

:root {
  --vp-font-heading: "Space Grotesk", sans-serif;
}

.vp-sidebar-header.active:not(.exact) {
  padding-inline-start: 0.5rem;
  color: var(--vp-c-accent);
}

.vp-sidebar a {
  font-size: 16px !important;
}

.vp-sidebar-links {
  list-style: none;

  li {
    list-style: none;
  }

  .vp-sidebar > & {
    padding: 1.5rem 0;

    > li:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  & & {
    > li:not(:first-child) {
      margin-top: 0.25rem;
    }
  }
}

/* Custom layout for homepage features: force 3-2 grid for 5 items */
.vp-features {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .vp-features {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .vp-features {
    grid-template-columns: 1fr;
  }
}

.vp-hero-infos {
  margin-top: 25px;
}
