// you can change colors here
//$theme-color: #5FFF00;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
$navbar-height: 88px;
$navbar-mobile-height: 88px;
$font-family: 'Space Grotesk', sans-serif;
$font-family-heading: 'Space Grotesk', sans-serif;